
/* header */

header {
	position:fixed;
	z-index:1000;
}

.title {
	/* position:fixed; */
}

 .title a{
	text-align:left;
	/* padding-left:42%; */
	line-height:100px;
	/* position:fixed; */
}

.nav1 a{
	background-color:#000;
	line-height:30px;
}

.nav {
	display:none;
}


/* menu */

.menu{
	position:fixed;
	z-index:1500;
	/* height:100%; */
	/* padding-top:30px; */
}

.menu span {
	padding-left:5px;
	
}

.menu li ul{
	/* position:fixed; */
	padding-top:45px;
	/* left:85%; */
	height:100%;
	margin-top:20px;
	/* padding-top:30px; */
}


.mm {
	position:fixed;
	padding-top:38px;
	left:88%;
	/* height:100%; */
}



.menu li li{
	/* position:fixed; */
	/* text-align:center; */
	/* padding-top:20px; */
	/* padding-right:50px; */
	background-color:#000;
	/* margin-top:10px; */
	line-height:60px;
	/* padding-top:30px; */
	/* height:20px; */
	/* left:45%; */
	/* padding-bottom:10px; */
	/* border-bottom:#fff 0.85px solid; */
}

.menu li li a{
	font-size:1.2rem;
	

}

.menu li li{
	display:none;
}

.menu li:hover ul li {
	display:none;
	z-index:1000;
}

.menu li:hover ul li {
	display:block;
	z-index:1000;
}

.menu li p {
	display:none;
	z-index:1000;
}

.menu li:hover  p{
	display:block;
	z-index:1000;
}


.menu li  p{
	color:#fff;
	padding-top:60px;
	background-color:#000;
	position:fixed;
	padding-left:95%;
}

.menu li p li{
	display:block;
	z-index:1000;
}

.menu li p:hover li{
	display:none;
	z-index:1000;
}

.menu ul li a{
	line-height:20px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}
	
/* banner */

.banner {
	height:500px;
	margin: 0;
	background: url('images/uranus.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size:cover;
}
	
.banner .overlay {
	background: rgba(0,0,0,0.5);
	background-size:cover;
	padding: 0;
	margin: 0;
	height: 100%;
	width:100%;
}
	
	
.banner span{
	padding-top:100px;
	display:block;
	text-align:center;
}

.banner img{
	height:400px;
	width:400px;
	
}

.banner h1,.banner h3{
	/* height:200px; */
	text-align:center;
	padding-top:10px;
}

/* 個人資料 */


.個人資料 span{
	/* padding-top:10px; */
	display:block;
	text-align:center;
}

.個人資料 img {
	/* text-align:center; */
	height:300px;
	/* padding-left:33%; */
}

.colomn {
	text-align:center;	
}

/* h2 */

.個人資料 h2,.學歷 h2,.語文能力 h2,.自傳 h2{
	font-size:2.5rem;	
}


.校內比賽 h2,.校外比賽 h2,.活動 h2{
	font-size:2.5rem;	
}

.聯絡資訊 h2,.未來計畫 h2,.目標 h2,.響應國際 h2{
	font-size:2.5rem;	
}

/* h3 */

.校內比賽 h3,.校外比賽 h3,.活動 h3,.工作經驗 p{
	text-align:center;
	font-size:1.5rem;
}


.設計 h3,.圖片 h3,.影片 h3,.網頁 h3{
	text-align:center;
	font-size:1.5rem;
}

/* p */

.個人資料 p,.學歷 p,.語文能力 p,.自傳 p{
	text-align:center;	
	font-size:1rem;
}


.校內比賽 p,.校外比賽 p,.活動 p,.工作經驗 p{
	text-align:center;	
	font-size:1.5rem;
}



.聯絡資訊 p,.未來計畫 p,.目標 p ,.響應國際 p{
	text-align:center;
	font-size:1.5rem;
}

.設計 p,.圖片 p,.影片 p,.網頁 p{
	text-align:center;
	font-size:1rem;
}





.img{
	display:block;
	text-align:center;
}


.校內比賽 img,.校外比賽 img,.活動 img{
	height:300px;
	width:500px;
}

.設計 img,.影片 img{
	height:300px;
	width:500px;
}

.圖片 img{
	height:300px;
	width:300px;
}




/* contact */

.Email h3, .Other h3{
	padding-top:30px;
	text-align:center;
	
}


/* top */


.top {
	display:none;
}
